{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}
<Body background="C:/Users/HP/Downloads/contac.png"> 

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Prajakta Chavan</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Prajakta Chavana. Currently Pursuing Bachelors in
                    Information
                    Technology.My Main Focus is on Machine Learning, Deep Learning and Artificial Intelligence.
                    .</p>
            </center>
            <div>
                <h4>Social Media Handles :</h4><br>
                <a target="_blank" href='https://www.linkedin.com/in/prajakta-chavan-47aba5241/'><img
                        src="C:/Users/HP/Downloads/linkedin.png" height="40" width="40"></a> :
                chavanprajakta1427@gmail.com<br><br>
                <a target="_blank" href='https://github.com/NamrataB1306'><img
                        src="C:/Users/HP/Downloads/gitbub.png" height="44"
                        width="44"></a> : namratabirajdar576@gmail.com<br><br>
                <a target="_blank" href='https://mail.google.com/mail/u/0/#search/prernayabaji17%40gmail.com'><img
                        src="C:/Users/HP/Downloads/mail.png" height="40" width="40"></a> :
                prernayabaji17@gmail.com<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/apurva-aherkar-11bb56225/'><img
                        src="C:/Users/HP/Downloads/linkedin.png" height="40" width="40"></a> :
                apurvaaherkar0152@gmail.com<br>
            </div>
        </div>
    </div>

    
{% endblock body %}